@tailwind base;
@tailwind components;
@tailwind utilities;

.profilePic {
    background-image: url('./containers/Images/profilePic.jpeg');
    background-size: 3rem 3rem;
}

.videoPreviewBox {
    width: 360px;
    min-height : 200px
}

.searchBtn{
    height: 26px; width: 33px; outline: none; background-color: white; cursor: pointer; padding: 5px; box-sizing: border-box; border-top: none; border-right: none; border-bottom: none; border-image: initial;
}

.svg{
    fill: rgb(114, 114, 114);
}

input::-webkit-calendar-picker-indicator {
    display: none;
}
  