@tailwind base;
@tailwind components;
@tailwind utilities;

.profilePic {
    background-image: url('./containers/Images/profilePic.jpeg');
    background-size: 3rem 3rem;
}

@variants responsive {
    .videoPreviewBox {
        width: 340px;
        min-height : 200px;
    }
    .videoPreviewBoxMob{
        min-height : 210px;
        background: #ddd;
    }
}

.searchBtn{
    height: 26px; width: 33px; outline: none; background-color: white; cursor: pointer; padding: 5px; box-sizing: border-box; border-top: none; border-right: none; border-bottom: none; border-image: initial;
}

.svg{
    fill: rgb(114, 114, 114);
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.thumb {
    background-size: 100% 135%;
    background-position-y: 50%;
}